---
---

@import "{{ site.theme }}";

.about-me-wrapper{
	//SM
	display: grid;
	row-gap: 10px;
	@media screen and (min-width: 768px) {
		grid-template-columns: 3fr 1fr;
	}
	@media screen and (min-width: 992px) {
		grid-template-columns: 2fr 1fr;
	}
}

div.flex {
	display: flex;
}

div.flex-row {
	flex-direction: row;
}

div.flex-col {
	flex-direction: column;
}

div.text-center {
	text-align: center;
}

div.justify-around {
	justify-content: space-around;
}

div.items-center {
	align-items: center;
}

img.concepting-image {
	border: solid #ccc;
	border-width: 3px;
	width:75%;
	height:auto;
}

p.image-description {
	color: #828282;
}

a.source {
	color: #828282;
}

a:hover.source {
	color: #828282
}

